<table>
<tr>
  <td>name</td>
  <td>country</td>
  <td>action </td>
</tr>
<% @manufactures.each do |manu| %>
  <tr>
    <td>
      <%= manu.name %>
    </td>
    <td>
     <%= manu.country %>
    </td>
     <td>
      <%= link_to "Destroy #{manu.name}", manu, method: :delete %>
     </td>
 </tr>
 <% end %>
